ROYALE_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjhmMDViYmY5LTEyY2YtNGFkMC1iOTExLTM2YjdmMDFmNTQ4YyIsImlhdCI6MTc1Mzg5ODM3OSwic3ViIjoiZGV2ZWxvcGVyL2NlYTJiZWUzLWUwMTQtY2QyNi0zZTljLWZkYjVhYjA2ZGM0NSIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyIzNC44Mi4zOS4yMDMiLCIzNC4yMTEuMjAwLjg1Il0sInR5cGUiOiJjbGllbnQifV19.1AiBLBaQdf7FoWyMTRK_W8wHlabu6iXjzTD8zLui-vstff-wBaqg8qIEJ0Ln2J5hcE4Il7nPrLNsWuW84wyzWg
